@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*PHOTOS*/
.img-1 {background-image: url('https://images.pexels.com/photos/20787/pexels-photo.jpg?h=350&auto=compress&cs=tinysrgb');}
.img-2 {background-image: url('https://images.pexels.com/photos/427547/pexels-photo-427547.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-3 {background-image: url('https://images.pexels.com/photos/819105/pexels-photo-819105.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-4 {background-image: url('https://images.pexels.com/photos/814033/pexels-photo-814033.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-5 {background-image: url('https://images.pexels.com/photos/516541/pexels-photo-516541.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-6 {background-image: url('https://images.pexels.com/photos/89699/pexels-photo-89699.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-7 {background-image: url('https://images.pexels.com/photos/816001/pexels-photo-816001.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-8 {background-image: url('https://images.pexels.com/photos/547557/pexels-photo-547557.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-9 {background-image: url('https://images.pexels.com/photos/412295/pexels-photo-412295.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-10 {background-image: url('https://images.pexels.com/photos/814263/pexels-photo-814263.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-11 {background-image: url('https://images.pexels.com/photos/388830/pexels-photo-388830.jpeg?h=350&auto=compress&cs=tinysrgb');}
.img-12 {background-image: url('https://images.pexels.com/photos/128817/pexels-photo-128817.jpeg?h=350&auto=compress&cs=tinysrgb');}

/*CODE*/
.item {
  height: 330px;
  margin: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.inside-container,
.flex-column,
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.equal {
  flex: 1;
}

body {
  background-color: black;
  color: beige;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  text-shadow: 3px 3px 5px grey;
}

.item:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
  border: 4px solid grey;
}

@media (max-width: 500px) {
  body .item {
  opacity: 1;
  }
  body .item:hover {
  cursor: default;
  }
}