@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  background-color: BurlyWood;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #313234;
  height: auto;
}

header > nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

header > nav ul > li {
  display: inline-block;
}

header > nav ul > li > a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("https://static.pexels.com/photos/589817/pexels-photo-589817.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -1;
}

.slogan {
  background-color: rgba(255, 0, 0, 0.6);
  max-width: 800px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.slogan > h1 {
  font-size: 38px;
  font-weight: 600;
  color: white;
  text-align: left;
}

[class*="fa"] {
  text-align: center;
  font-size: 35px;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  text-align: center;
  width: 100%;
  padding: 12px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

.container > p {
  margin:  0 40px;
  text-align: center;
}

.fa-university,
.fa-truck, 
.fa-fighter-jet {
  font-size: 55px;
  text-align: center;
}

.fa-camera-retro,
.fa-search {
  font-size: 30px;
}

.fa-camera-retro:hover,
.fa-search:hover {
  cursor: pointer;
  color: white;
}

.layer {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 88%;
    height: 90%;
    line-height: 200px;
}

.twarze img {
  border-radius: 40%;
  margin-top: 50px;
}

footer > div {
  background-color: #313234;
  color: #FFF;
}

index {
 	z-index: 1;
}

.main-gallery [class*="col"] {
    position: relative;
}

.interesting-numbers {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.social-media {
	position: fixed;
	top: 50vh;
	left: 20px;
	width: 44px;
	z-index: 0;
}

.wrapper {
  padding: 0 25px;
}

.wrapper i:hover {
  color: grey;
}

h3:hover {
  cursor: pointer;
}

nav img {
  margin-top: 10px;
  float: left;
}

section {
   margin-bottom: 20px;
}

.col-2 > img {
    float: left;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.new-characteres {
  color: beige;
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

.space {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.justify {
  text-align: justify;
}

.icon-btn {
  height: 55px;
  width: 55px;
  border: 0;
  color: #FFF;
  margin: 6px;
  cursor: pointer;
  font-size: 5px;
  padding: 4px;
  background-color: #4099FF;
  border-radius: 30%;
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}

.footer-image {
  letter-spacing: 3px;
  font-size: 1.3em;
}

.face {
	background-color: #4267B2;
}

.inst {
	background-color: #E54655;
}

.git {
	background-color: silver;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .col-offset-s-0 {margin-left: 0%;}
}

@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
  header > nav ul > li {
    float: none;
    display: block;
    text-align: center;
  }
  
  header > nav ul {
    width: 100%;
  }
  
  header {
    text-align: center;
  }

  .twarze img {
  border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  .main-gallery [class*="col"]:hover .layer {
    display: block;
    color: white;
    cursor: pointer;
  }
  
  .fa-university,
  .fa-truck, 
  .fa-fighter-jet:hover {
    cursor: pointer;
  }
  
  header > nav ul > li > a:hover {
    background: #ccc;
    color: #168596;
  }
  
  .icon-btn:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  backface-visibility: hidden;
  }
}
